html
{
	font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16 px */
	box-sizing: border-box;
}
*, *:before, *:after
{
	box-sizing: inherit;
}

body
{
	font-family: 'Hind Madurai', sans-serif;
	font-size: 1.6rem;
	line-height: 2;
}

/* UTILIDADES */
.seccion
{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.fw-300
{
	font-weight: 300;
}
.centrar-texto
{
	text-align: center;
}

/*GLOBALES*/
.contenedor
{
	max-width: 120rem;
	margin: 0 auto;
}

img
{
	max-width: 100%; /* Se ajusta al tamaño del contenedor, para ser responsive */
}
h1
{
	font-size: 5rem;
}
h2
{
	font-size: 3.4rem;
}
h3
{
	font-size: 3rem;
}
h4
{
	font-size: 2.6rem;
}

/* HEADER */
.site-header.inicio
{
	background-image: url(../img/socialpet_fondo.jpg);
	/*background-repeat: no-repeat;*/
	background-position: center center; /*Posiciona la imagen*/
	background-size: cover; /*La imagen se ajusta al tamaño de la pantalla*/
	height: 100vh; /*Toma el tamaño de la pantalla*/
	min-height: 60rem; /*Como minimo se ajusta en 600px*/
}
.contenido-header
{
	height: 100%;
	/* Flexbox solo aplica al primer nivel de hijos */
	display: flex;
	flex-direction: column; /* Indicamos la direccion que tendrán los hijos de contenido-header */
	justify-content: space-between;
}
.titulo_principal
{
	color: #ffffff;
	font-size: 6rem;
}

.titulo_slogan
{
	color: #ffffff;
	font-size: 4rem;
	padding-bottom: 3rem;
}
.barra
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;
}
.barra a
{
	max-width: 50%;
}
.barra a img
{
	width: 40%;
}

/* NAVEGACION */
.navegacion a
{
	color: #E89B20;
	text-decoration: none; /* quita la linea subrayada del enlace */
	font-size: 1.9rem;
	margin-right: 1rem; /* separacion con el siguiente elemento*/
	text-transform: uppercase;
	font-weight: 700;
}

.navegacion a:hover
{
	color: #ffffff;
}

.navegacion a:last-of-type /* Seudoselector -> last-of-type or first-of-type */
{
	margin: 0;
}

/** NOSOTROS **/
.nosotros
{
	display: flex;
	justify-content: space-between;
}
.nosotros img
{
	max-width: 40%;
}
.iconos-nosotros
{
	display: flex;
	justify-content: space-between;
	list-style: none;
	text-align: center;
}
.iconos-nosotros li
{
	flex-basis: calc(33.3% - 1rem);
	padding: 2rem;
	margin-right: 2rem;
	border: 1px solid #B5B5B5; /*Abreviatura de arriba*/
	background-color: #F5F5F5;
}
.iconos-nosotros li:last-of-type /* Seudoselector -> last-of-type or first-of-type */
{
	margin: 0;
}
.contenido-nosotros img
{
	max-height: 50%;
	max-width: 50%;
}
.contenido-nosotros h3
{
	font-weight: 300;
	text-transform: capitalize;
}
.contenido-nosotros p
{
	text-align: justify;
}
.contenido-nosotros h3, .contenido-nosotros p
{
	margin: 0;
}


/* SERVICIOS SOCIALPET */
.contenedor-servicios
{
	display: flex;
	justify-content: space-between;
}
.servicios
{
	flex-basis: calc(50% - 1rem);
	border: 1px solid #B5B5B5; /*Abreviatura de arriba*/
	background-color: #F5F5F5;
}

/* UNETE A NOSOTROS */
.titulo-unete h2, .titulo-unete h3
{
	margin: 0;
}
.contenedor-anuncios
{
	display: flex;
	justify-content: space-between;
}
.anuncio
{
	flex-basis: calc(33.3% - 1rem);
}
.anuncio img
{
	text-align: center;
	max-width: 50%;
}

/* AMAMOS A NUESTROS CLIENTES */
.contenedor-testimonio
{
	display: flex;
	justify-content: space-between;
}
.horizontal
{
	height: 70vh;
	display: flex;
	flex-basis: calc(33.3% - 1rem);
}
.horizontal img
{
	padding: 2rem;
	margin: 2rem;
}
.horizontal img:last-of-type
{
	margin-right: 0;
}

/* contactos */
.fondo-contacto
{
	background-image: url(../img/fondo.jpg);
	background-position: center center; /*Posiciona la imagen*/
	background-size: cover; /*La imagen se ajusta al tamaño de la pantalla*/
	padding-bottom: 2rem;
}
.titulo-contacto h2
{
	color: #ffffff;
}
.contactos
{
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.contactos li
{
	text-align: center;
	flex-basis: calc(33.3% - 1rem);
	margin-right: 2rem;
}
.cuadrado
{
	border: 1px solid #B5B5B5; /*Abreviatura de arriba*/
	background-color: #CDCDCD;
	opacity: 0.8;
}
.contactos li:last-of-type
{
	margin-right: 0;
}
.contenido-contacto img
{
	max-width: 40%;
}


/* FOOTER */
.footer
{
	background-color: #333333;
	padding-bottom: 2rem;
}
.contenido-footer
{
	display: flex;
	justify-content: space-between;

}
.contenido-footer.navegacion
{
	margin-top: 2rem;
}